Triangle Name: @ViewBag.TriangleName <br />
Point A: [@ViewBag.PointAx, @ViewBag.PointAy]<br />
Point B: [@ViewBag.PointBx, @ViewBag.PointBy]<br />
Point C: [@ViewBag.PointCx, @ViewBag.PointCy]<br />

<br />
<br />

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <canvas id="myCanvas" width="100" height="100"></canvas>
    </div>

    <script>
        var canvasElement = document.querySelector("#myCanvas");

        var context = canvasElement.getContext("2d");

        context.beginPath();
        context.moveTo(@ViewBag.PointAx, @ViewBag.PointAy);
        context.lineTo(@ViewBag.PointBx, @ViewBag.PointBy);
        context.lineTo(@ViewBag.PointCx, @ViewBag.PointCy);
        context.closePath();

        context.lineWidth = 5;
        context.strokeStyle = '#666666'
        context.stroke();

        context.fillStyle = "#00FFFF"
        context.fill();
    </script>
</div>
